/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}


/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

body{
    background-image: url(../images/fond/global.png);
    background-attachment: fixed;
    font : 1.6rem Oranienbaum, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 1);
}

a{
    color: white;
    text-decoration: none;
}

a[hreflang="ja"]::after {
    content: " [en japonais]";
}

a:hover{
    color: darkorange;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */





/*---------------------------------------
                header
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

header, section{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    text-align: center;
}

header a{
    position: absolute;
    bottom: 40px;
    left: 0%;
    right: 0%;
}



/*---------------------------------------
                Section Générale
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

h1{
    font: normal 10rem Monoton, sans-serif;
}

h2{
    font: normal 3.2rem Monoton, sans-serif;
    margin: 0;
    text-transform: uppercase;
}

.boite{
    width: 800px;
    padding: 48px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/*---------------------------------------
                Section sports
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

section.sports{
    background-image: url(../images/fond/bicycles.png);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2 span{
    font: 1.7rem Oranienbaum, sans-serif;
    text-transform: lowercase;
}

.images{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.images a{
    width: 200px;
    margin: 10px 0 10px 0;
    text-align: center;
}

.images img{
    width: 100%;
    margin-bottom: 10px;
}

/*---------------------------------------
                Section web
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */


section.web{
    background-image: url(../images/fond/science.png);
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web img{
    width: 50%;
}

.web .images span{
    display: flex;
}

.lien_float{
    margin-top: 50px;
    background-color: darkred;
    padding: 10px;
    width: 100%;
    text-align: center;
}

/*---------------------------------------
             Section photographie
 ---------------------------------------*/

/* INSÉREZ VOTRE CSS POUR CETTE SECTION ICI */

.photos{
    background-image: url(../images/fond/fond.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.photos .boite{
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos img{
    width: 30%;
}

.photos a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photos .images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/*---------------------------------------
    Icône retour
---------------------------------------*/



a.haut{
    position: fixed;
    bottom: 20px;
    right: 15vh;

    width: 40px;
    height: 40px;

    background-color: rgba(255, 255, 255, 0.8);

    border: 4px solid white;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    scroll-behavior: smooth;
}

a.haut:hover{
    color: darkorange;
    border-color: darkorange ;
}
